html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  scroll-behavior: smooth !important;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.body {
  position: relative;
  overflow-x: hidden;
  color: #fff;
  background-color: var(--whiteGray-color);
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}

input {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  color: #fff;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 70px 30px;
  max-width: 1380px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;

  @include mini-desktop {
    padding: 30px;
  }

  @include mobile{
    padding: 10px;
  }
}

.main {
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  gap: 120px;

  @include small-tablet{
    padding: 60px 0;
    gap: 60px;
  }
}

.hidden {
  font-size: 0;
  opacity: 0;
  visibility: hidden;
}

.button-global {
  background-color: var(--accent-color);
  font-size: 22px;
  font-family: "SF", Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 110%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  border-radius: 26px;
  color: #fff;
  transition: all 0.4s;
  position: relative;
  overflow: hidden;

  @include small-tablet{
    font-size: 18px;
  }
  @include mobile{
    font-size: 16px;
  }
  @include small-mobile{
    font-size: 14px;
  }
}

.button-global::after {
  content: "";
  position: absolute;
  top: -30%;
  left: -60%;
  width: 40%;
  height: 160%;
  transform: skewX(-20deg);
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.247),
    transparent
  );
  opacity: 0;
  transition:
    left 0.7s ease,
    opacity 0.25s ease;
  pointer-events: none;
}

.button-global:hover::after {
  left: 120%;
  opacity: 1;
}

.border {
  border: 1px solid var(--black-color);
  border-radius: 32px;
}

.swiper {
  position: relative;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-navigation-icon {
  display: none;
}

.overlay {
  display: none;
  position: absolute;
  inset: 0;
  z-index: 15;
  backdrop-filter: blur(22px);
}

.overlay.open {
  @include tablet {
    display: block;
    position: absolute;
    inset: 0;
    z-index: 15;
    backdrop-filter: blur(22px);
  }
}

.sidebar {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 300px;
  z-index: 20;
  background-color: #46565ebb;
  backdrop-filter: blur(22px);
}
.sidebar.open {
  display: flex;
}
.sidebar__menu{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sidebar__link.mobile{
  display: none;

  @include small-tablet {
    display: flex;
  }
}