.title {
  &-h1 {
    font-size: 80px;
    font-family: "SF", Arial, sans-serif;
    font-weight: 700;

    @include desktop {
      font-size: 70px;
    }

    @include small-tablet {
      font-size: 60px;
    }
    @include mobile {
      font-size: 40px;
    }
  }

  &-h2 {
    font-size: 80px;
    font-family: "SF", Arial, sans-serif;
    font-weight: 700;

    @include desktop {
      font-size: 70px;
    }

    @include small-tablet {
      font-size: 60px;
    }
    @include mobile {
      font-size: 40px;
    }
  }

  &-h3 {
    font-size: 36px;
    font-family: "SF", Arial, sans-serif;
    font-weight: 700;

    @include small-tablet {
      font-size: 30px;
    }
    @include mobile {
      font-size: 23px;
    }
  }

  &-h4 {
    font-size: 32px;
    font-family: "SF", Arial, sans-serif;
    font-weight: 700;
  }

  &-h5 {
    font-size: 22px;
    font-family: "SF", Arial, sans-serif;
    font-weight: 700;
  }
}
